@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BEC8C1;
    ;
}

.navbar {
    background-color: #AFB8AF;
    color: #d8d8d8;
    /*border-bottom: 0.5px solid gray; */
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Julius Sans One", sans-serif;
    
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a.nav-logo {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Julius Sans One", sans-serif;
    color: black;
    font-weight: bold;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;

}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover {
    background-color: gray;
}

.hero {
    font-family: "Julius Sans One", sans-serif;
    color: black;
    margin-top: 30%;
    margin-left: 100px;
    font-size: 75px;

}

.hero h1 {
    font-size: 70px;
}

.hero p {
    margin-top: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.buttons:hover {
    background-color: #848484;
}

.circle {
    border: 1px solid red;
    border-radius: 50%;
    background-color: transparent;
    margin-top: 35%;
    margin-left: 20%;
    width: 250px;
    height: 250px;
    box-shadow: 0px -2px 15px 15px orange;  
    filter: grayscale(1);
    transition: 3s;
}

.circle:hover {
    filter: grayscale(0);
    transition: 3s;
    cursor: pointer;
}

.logozen {
    float: right;

    
    
    background-color: transparent;
    margin-top: 25%;
    margin-left: 20%;
    width: 250px;
    height: 250px;
    
    
    
}

.rodape {
    display: flex;
    justify-content: center;
    

}

.icone1 {
    height: 70px;
    width: 70px;
    
}

.icone2 {
    height: 70px;
    width: 70px;
    
}

.icone3 {
    height: 70px;
    width: 70px;
}
